.gpt3__brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.gpt3__brands div {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__brands div img {
  width: 150px;
}

@media screen and (max-width: 550px) {
  .gpt3__brands {
    margin-top: 12rem;
  }
}
