.gpt3__possibility {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4rem 8rem;
}

.gpt3__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.gpt3__possibility-image img {
  width: 70%;
}

.gpt3__possibility-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 3rem;
}

.gpt3__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  margin: 1rem 0;
}

.gpt3__possibility-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 2rem;
}

.gpt3__possibility-content button {
  width: 100%;
  max-width: 300px;
  min-height: 50px;
  padding: 0 1rem;
  background: var(--accent);
  border-radius: 6px;

  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .gpt3__possibility {
    flex-direction: column;
  }

  .gpt3__possibility-image {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .gpt3__possibility {
    padding: 2rem 4rem;
    flex-direction: column-reverse;
  }

  .gpt3__possibility-content {
    margin-top: 0;
  }

  .gpt3__possibility-content h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .gpt3__possibility-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .gpt3__possibility-image {
    justify-content: center;
    margin: 0;
  }

  .gpt3__possibility-image img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__possibility {
    padding: 2rem;
  }

  .gpt3__possibility-content button {
    align-self: center;
  }
}
